header {
  background: url(../images/profile.jpg) center/cover;
  height: 90vh;
  justify-content: center;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  header.mdl-layout__header {
    display: flex;
  }
}

h1 {
  position: relative;
  top:68%;
  font-weight: bold;
  color: hsla(0, 0%, 100%, 0.9);
  color: #fffaf0;
}
.slogan {
  position: relative;
  top: 66%;
  font-weight: lighter;
  color: hsla(0, 0%, 100%, 0.8);
  font-size: 1.6rem;
  color: #fffaf0;
}

main {
  max-width: 900px;
}

.project-description {
  padding-left: 0;
}

.project img {
  width: 100%;
}

body {
  padding-bottom: 5rem;
}

footer.mdl-mini-footer {
  bottom: 0;
  padding: 0.5rem;
  position: fixed;
  width: 100%;
  z-index: 1;
}

footer.mdl-mini-footer > ul {
  margin: auto;
  font-size: 2rem;
}
